<section id="who" class="download who text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Quem somos nós?</h2>
                <p>A Associação Beneficente Oncológica de Sorocaba (ABOS) foi criada em 1988 para amparar pacientes com câncer, especialmente aqueles de cidades distantes que vinham diariamente a Sorocaba em busca de tratamento rádio e quimioterápicos. Sua vocação, desde o início, foi de oferecer abrigo, alimentação, apoio clínico, psicológico, medicamentos, transporte aos locais de tratamento, além de todo amparo social às famílias mais carentes.</p>
                <!-- <div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center slider">
                <img class="home" src="/img/photo.jpg" alt="">
                <img class="home" src="/img/casa.png" alt="">
            </div>
        </div>
    </div>
</section>
