<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Associação Beneficente Oncológica de Sorocaba.</h1>
                        <a href="#who" class="btn btn-outline btn-xl page-scroll">Conheça-nos!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div>
                        <img src="/img/wall.svg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
