<header>
    <div class="container header-blog">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-centered">
                <div class="device-container">
                    <div class="">
                        <img src="/img/wall.svg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="header-content-inner">
                    <h1>Associação Beneficente Oncológica de Sorocaba.</h1>
                    <h2>Notícias e eventos</h2>
                    <!-- <a href="#who" class="btn btn-outline btn-xl page-scroll">Conheça-nos!</a> -->
                    <a href="#post" class="page-scroll"><i class="fa fa-fw fa-2x fa-chevron-down text-white"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
