
    <section id="features" class="features">
        <div class="container-fluid bg-primary">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Ação social</h2>
                        <p class="text-muted">A união de pessoas resultou na construção da sede que hoje possui 40 leitos e conta com médicos, Psicóloga, assistente social e técnicas de enfermagem que acompanham e auxiliam 24 horas de Segunda a Sexta Feira os pacientes "Hospedados" na casa.</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="container features-text">
            <div class="row">
                <div class="col-md-4 images">
                    <img src="http://lorempixel.com/640/480/abstract/Foto aleatoria" alt="">
                    <!-- <img src="http://lorempixel.com/640/480/abstract/Foto aleatoria" alt=""> -->
                </div>
                <div class="col-md-8">
                    <div class="row badges text-center">
                        <div class="col-md-4">
                            <i class="fa fa-bed fa-4x" aria-hidden="true"></i>
                            <span><em>+9 mil</em> pessoas acolhidas</span>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-heartbeat fa-4x" aria-hidden="true"></i>
                            <span><em>+70%</em> chance de cura</span>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-ellipsis-h fa-4x" aria-hidden="true"></i>
                            <span><em>+99</em> Terceiro destaque</span>
                        </div>
                    </div>
                    <div class="row text">
                        <div class="col-md-12">
                            Acolhidos gratuitamente, os pacientes recebem 5 refeições diárias, participam de ações sócio recreacionais, cursos de artesanato e uma série de outras atividades ministradas com muito carinho por voluntários, fazendo com que todos se integrem como uma grande família.
                        </div>
                    </div>
                </div>
            </div>
    </section>
